body {
    background-color:hsl(210, 3%, 13%)

    
    }
.section{
  width:500px;
  height:1700px;
  background-color:hsl(217, 28%, 15%);
  border-radius: 10px;
  margin:auto;
  margin-top: 10px;
  

      }
.image{
 width:60%;
 height: 40%;
 padding-left: 90px;
 margin-top:60px;
      }


.contenedor{

    background: url(../Imagenes/bg-curvy-desktop.svg);
   
    background-size: 100% 100%;


}

.title
{
    font-size:4px;
    font-family: verdana;
    text-align:right;
    color:rgb(247, 239, 239);
    margin-top:-260px;
    margin-right: 20px;
    word-spacing: 15pt;  
}
.title1
{
    font-size:9px;
    font-family: Arial;
    text-align:center;
    color:hsl(0, 0%, 100%);
    margin-top:240px;
    margin-right:5px;
}
.title2
{
    font-size:6px;
    font-family:'Arial';
    color:hsl(0, 0%, 100%);
    line-height:10pt;   
    letter-spacing:3px;
    margin-top:-45px;
    text-align:center;
    padding:40px;
}
#containerButton button{
        width:40%;
        background-color: hsl(176, 68%, 64%);
        color:hsl(0, 0%, 100%);
        height: 40px;
        border-radius: 20px;
        font-size:12px;
        border: 0;
        margin-left:130px;
      }
.imagetwo{
        width:10%;
        height:20%;
        padding-left:80px;
        margin-top:50px;
        }
.title3{
    font-size:5.5px;
    font-family:'Arial';
    color:hsl(0, 0%, 100%);
    margin-top:-45px;
    text-align:left;
    padding:40px;
    font-weight: bold;

}
.title4
{
    font-size:2px;
    font-family:'Arial';
    color:hsl(0, 0%, 100%); 
    width:50px;
    position: relative;
    right:-12px;
    top:210px;
    line-height:3pt; 
    margin-top:-225px;
    zoom:3;
}
.imagetree{
    width:8%;
    height:10%;
    padding-left:90px;
    margin-top:500px;
    margin-left: 230px;
    }
    .title5{
        font-size:5.5px;
        font-family:'Arial';
        color:hsl(0, 0%, 100%);
        margin-top:-45px;
        padding:40px;
        font-weight: bold;
       margin-left: 240px;
    
    }
    .title6
    {
        font-size:2px;
        font-family:'Arial';
        color:hsl(0, 0%, 100%); 
        width:50px;
        position: relative;
        left:90px;
        top:210px;
        line-height:3pt; 
        margin-top:-225px;
        zoom:3;
    }
    .imagefour{
        width:10%;
        height:20%;
        padding-left:75px;
        margin-top:690px;
        }
.title7{
    font-size:5px;
    font-family: verdana;
    text-align:left;
    color:rgb(247, 239, 239);
    margin-top:20px;
    margin-left:40px;
}
.title8{

    font-size:2px;
    font-family:'Arial';
    color:hsl(0, 0%, 100%); 
    width:50px;
    position: relative;
    right:-12px;
    top:210px;
    line-height:3pt; 
    margin-top:-210px;
    zoom:3;
}
.imagefive{
    width:10%;
    height:20%;
    padding-left:320px;
    margin-top:495px;
    }
.title9{
font-size:5px;
font-family: verdana;
text-align:right;
color:rgb(247, 239, 239);
margin-top:20px;
margin-right:90px;
}
.title10{
font-size:2px;
font-family:'Arial';
color:hsl(0, 0%, 100%); 
width:50px;
position: relative;
right:-95px;
top:210px;
line-height:3pt; 
margin-top:-210px;
zoom:3;
}
.imagesix{
    width:45%;
    height:45%;
    z-index: -1;
    padding-left:20px;
    margin-top:680px;
}
.title11
{
    font-size:6px;
    font-family:'arial';
    color:hsl(0, 0%, 100%);
    margin-top:-165px;
    margin-left:220px;
    letter-spacing:4px;
    
}
.title12
{
    font-size:10px;
    font-family:'arial';
    color:hsl(0, 0%, 100%);
    margin-top:10px;
    margin-left:220px; 
}
.title13 h4
{
    font-size:8px;
    font-family:'arial';
    margin-top:10px;
    margin-left:220px; 
    color:hsl(176, 68%, 64%);
    text-decoration: underline hsl(176, 68%, 64%); 
    
}
.imageseven{
    width:3%;
    height:3%;
    padding-left:290px;
    position: relative;; 
    top:-20px;
}
.imageeight{
    width:40px;
    height:40px;
    margin-top:60px;
    margin-left:50px;
}
.box1
  {
      width:140px;
      height:100px;
      background-color:#283747;
      border-radius: 5px;
      margin-top:-35px;
      margin-left:18px;
}

      .box1 h1{
        font-size:8px;
        font-family: arial;
        padding-left:20px;
        color:rgb(247, 239, 239);
        margin-top: 8px;
        margin-left: 40px;
      }
       .box1 p{
            color:rgb(247, 239, 239);
            padding-left:20px;
            font-size:8px;
            font-family: arial;
            margin-top:29px;
            text-decoration: none;
            
    
        }
        .imgRedonda {
            width:30px;
            height:30px;
            border-radius:50px;
            margin-top:200px;
        }
        .imagenine{
           margin-top:-230px;
           margin-left:35px;
        }

        .box2
  {
      width:140px;
      height:100px;
      background-color:#283747;
      border-radius: 5px;
      margin-top:-127px;
      margin-left:300px;
}

      .box2 h1{
        font-size:8px;
        font-family: arial;
        padding-left:20px;
        color:rgb(247, 239, 239);
        margin-top: 8px;
        margin-left:35px;
      }
       .box2 p{
            color:rgb(247, 239, 239);
            padding-left:20px;
            font-size:8px;
            font-family: arial;
            margin-top:29px;
            text-decoration: none;
            
    
        }
        .imgRedonda {
            width:30px;
            height:30px;
            border-radius:50px;
            margin-left:5px;
        }
        .imageten{
           margin-top:-227px;
           margin-left:140px;
        }
        .box3
        {
            width:140px;
            height:100px;
            background-color:#283747;
            border-radius: 5px;
            margin-top:-125px;
            margin-right:-5px;
      }
      
            .box3 h1{
              font-size:8px;
              font-family: arial;
              padding-left:20px;
              color:rgb(247, 239, 239);
              margin-top: 8px;
              margin-left: 30px;
            }
             .box3 p{
                  color:rgb(247, 239, 239);
                  padding-left:20px;
                  font-size:8px;
                  font-family: arial;
                  margin-top:30px
                }
              .imgRedonda {
                  width:30px;
                  height:30px;
                  border-radius:50px;
                  margin-top:190px;
              }
              .imagetw{
                 margin-top:-230px;
                 margin-left:165px;
              }
              .box4{
                width:450px;
                height:150px;
                background-color: hsl(219, 30%, 18%);
                border-radius: 10px;
                margin:auto;
                margin-top:-400px;
                box-shadow: 0 1px 1px 0 hsl(219, 30%, 18%);
                margin-left:-315px;

              }

              .titles{
                height: 150px;
                max-height: 150px;
                z-index: 1;

              }


            .titles h1{
                font-size:15px;
                font-family: verdana;
                text-align:center;
                color:rgb(247, 239, 239);
                margin-top:500px;
                
                padding:5px;
            }
            .titles h2{
                font-size:8px;
                font-family: verdana;
                color:rgb(247, 239, 239);
                margin-top: 1px;
                
                padding:10px;
                text-align: center;
            }

            #containerButton1{
                    width: 100%;

                    

            }

            .boton1{
                margin-top: -100px;
                width:55%;
                background-color:hsl(0, 0%, 100%);
                color:hsl(0, 5%, 58%);
                height: 25px;
                border-radius: 20px;
                font-size:10px;
                border: 0;
                margin-left:25px;

              }
              .boton2{
                width:30%;
                background-color: hsl(176, 68%, 64%); 
                color:rgb(247, 239, 239);
                height: 25px;
                border-radius: 20px;
                font-size:10px;
                border: 0;
                
              }
              .box5{
                
                
                position: absolute;
                width:500px;
                height:200px;
                background-color: hsl(219, 30%, 18%);
                border-radius: 10px;
                margin:auto;
                margin-top: 50px;
                box-shadow: 0 1px 1px 0 hsl(219, 30%, 18%);
                margin-left:-25px;

              }
              .box5 h1{
        font-size:7px;
        font-family:'Arial';
        color:hsl(0, 0%, 100%);
        margin-top: 1px;
        padding:60px;
       line-height:10pt;   
       letter-spacing:2px;
              }
       .box5 h2{
        font-size:7px;
        font-family:'Arial';
        color:hsl(0, 0%, 100%);
        margin-top:-100px;
        padding:70px;
        margin-left:-340px;
      
       line-height:10pt;   
       letter-spacing:2px;
    }
    .box5 h3{
        font-size:7px;
        font-family:'Arial';
        color:hsl(0, 0%, 100%);
        margin-top:-100px;
        padding:50px;
       margin-left:-10px;
       line-height:10pt;   
       letter-spacing:2px;  
    
    }
    .box5 h5{
        font-size:7px;
        font-family:'Arial';
        color:hsl(0, 0%, 100%);
        margin-left:200px;
        line-height:10pt;   
        letter-spacing:2px;  
        margin-top:-110px;
        column-count: 5;
        
    }